<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SimpleSuite" parallel="methods" thread-count="2">

    <!-- Groups include/exclude -->
    <groups>
        <run>
            <include name="sanity"/>
            <!-- <exclude name="regression"/> -->
        </run>
    </groups>

    <!-- Test Block -->
    <test name="BasicTests">
        <classes>
            <class name="TestNG_Basics"/>
        </classes>
    </test>

</suite>
